/* client/src/index.css */
@font-face {
  font-family: 'MyFutura';
  src: url('/MyFutura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFuturaLight';
  src: url('/MyFuturaLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Global styles */
body {
  margin: 0;
  font-family: 'MyFutura, sans-serif';
  background-color: #BFBCCB; /* Your theme background */
  color: #1B1B1B;            /* Dark text for contrast */
}
